@model AeBlog.Models.Admin.EditPostModel
@{
    var title = Model == null ? "New Post" : "Editing \"" + Model.Title + '"';
    var action = Model == null ? "new" : "edit";
    ViewData["Title"] = title;
}

<section>
    <h2>@title</h2>
    <form asp-controller="admin" asp-action="@action" method="post">
        <p>
            <label asp-for="Title">Title</label>
            <input asp-for="Title" />
        </p>
        @if (Model == null)
        {
            <p>
                <label asp-for="Slug">Slug</label>
                <input asp-for="Slug" />
            </p>
        }
        <p>
            <label asp-for="IsPublished">Published</label>
            <input asp-for="IsPublished" />
        </p>
        <p>
            <label asp-for="Category">Category</label>
            <input asp-for="Category" />
        </p>

        <label asp-for="Content">Content</label>
        <textarea style="height:80vh" asp-for="Content"></textarea>
        <p>
            <button type="submit">Save</button>
        </p>
    </form>
</section>