@model AeBlog.Models.Admin.EditPostModel
@{
	ViewData["Title"] = "Editing \"" + Model.Title + '"';
}

<section>
    <h2>Editing "@Model.Title"</h2>
    <form asp-controller="admin" asp-action="edit" method="post">
        <p>
            <label asp-for="Title">Title</label>
            <input asp-for="Title" />
        </p>
        <p>
            <label asp-for="IsPublished">Published</label>
            <input asp-for="IsPublished" />
        </p>
        <p>
            <label asp-for="Content">Category</label>
            <input asp-for="Category" />
        </p>

        <textarea asp-for="Content"></textarea>
        <p>
            <button type="submit">Save</button>
        </p>
    </form>
</section>