@{
    ViewData["Class"] = "about";
}

<section>
    <h2>Hello!</h2>
    <p>Welcome to my portfolio. I'm a Software Engineer that loves to develop immersive singleplayer game experiences.</p>
    <p>I'm currently based in the <a href="https://en.wikipedia.org/wiki/Sheffield">North of England</a>, working at <a href="https://www.autodesk.com/">Autodesk</a>. I created a game series called <a href="http://store.steampowered.com/search/?developer=Alan%20Edwardes">Estranged</a> using Unreal Engine 4 and the Source Engine.</p>
    <p>Take a look at some of my <a href="/projects/">work</a>, visit my <a href="/blog/">blog</a>, or get in <a href="/contact/">touch</a>.</p>
    <p><a class="twitter-timeline" data-theme="dark" data-chrome="transparent" href="https://twitter.com/AlanEdwardes">Tweets by AlanEdwardes</a></p>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</section>