services:
  blog:
    build: .
    ports:
      - 5000:5000
    restart: always
    env_file:
      - .env
    environment:
      - ASPNETCORE_URLS=http://+:5000
    volumes:
      - ./posts:/app/posts
