@using Ae.Blog.Models.Admin;
@using Ae.Blog.Models;
@model Ae.Blog.Models.Admin.EditPostModel
@{
    var title = Model == null ? "New Post" : "Editing \"" + Model.Title + '"';
    var action = Model == null ? "new" : "edit";
    ViewData["Title"] = title;
}

<section>
    <h2>@title</h2>
    <p><a href="/admin/">Back</a> &bull; @if (Model != null){<a href="/blog/posts/@Model.Slug/">View Post</a>}</p>
    <p>Replacements: <code>$CDN_DOMAIN$</code>, <code>$STATIC_ASSET_PREFIX$</code></p>
    <form asp-controller="admin" asp-action="@action" method="post">
        <p>
            <label asp-for="Title">Title</label>
            <input asp-for="Title" />
        </p>
        @if (Model == null)
        {
            <p>
                <label asp-for="Slug">Slug</label>
                <input asp-for="Slug" />
            </p>
        }
        <p>
            <label asp-for="Type">Type</label>
            <select asp-for="Type" asp-items="Html.GetEnumSelectList<PostType>()">
                <option>Select type</option>
            </select>
        </p>
        <p>
            <label asp-for="Category">Category</label>
            <input asp-for="Category" />
        </p>

        <label asp-for="Content">Content</label>
        <textarea style="height:80vh" asp-for="Content"></textarea>
        <p>
            <button type="submit">Save</button>
        </p>
    </form>
</section>