@{
    ViewData["Title"] = "Contact";
}

<section>
    <h2>Contact</h2>
    <p>I'm alan [at] alanedwardes (dot) com. I'm also on a few websites:</p>
    <ul>
        <li><a href="https://www.linkedin.com/in/alanedwardes">LinkedIn</a></li>
        <li><a href="https://github.com/alanedwardes">GitHub</a></li>
        <li><a href="https://twitter.com/AlanEdwardes">Twitter</a></li>
        <li><a href="http://steamcommunity.com/id/alanedwardes">Steam Community</a></li>
        <li><a href="https://www.youtube.com/user/alanedwardes">YouTube</a></li>
    </ul>
    <p>I am `Alan Edwardes#3608` on Discord, though I will never communicate with you other than via the [Estranged Discord server](https://discord.gg/estranged) (beware of [scammers](/blog/posts/scammer-warning/)).</p>
</section>
