<!doctype html>
<html amp lang="en">
<head>
    <meta charset="utf-8">
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <title>@ViewData["Title"]</title>
    <link rel="canonical" href="@ViewData["Canonical"]">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
    <style amp-custom>
        body {
            font-family: sans-serif;
            margin: 0;
            padding: 0;
        }
        header {
            background-color: #222;
            color: white;
            border-bottom: 5px solid orange;
            padding: 10px;
        }
        header a {
            text-decoration: none;
            color: white;
        }
        header h1, header p, footer p {
            margin:0;
            font-weight:normal;
        }
        main {
            padding: 0px 10px;
        }
        main a {
            color: darkorange;
        }
        article, header h1, header p, footer p {
            max-width: 600px;
            margin: 0 auto;
        }
        footer {
            background: #222;
            color: white;
            padding: 10px;
        }
        pre, code {
            font-family: 'Consolas', monospace;
            white-space: pre-wrap;
        }
        pre {
            background: #222;
            color: white;
            padding: 5px 10px;
        }
    </style>
</head>
<body>
    <header>
        <h1><a href="https://alanedwardes.com/">Alan Edwardes</a></h1>
        <p>Cloud Software and Game Development</p>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        <p>&copy; @DateTime.UtcNow.Year Alan Edwardes</p>
    </footer>
</body>
</html>