<!DOCTYPE html>
<html lang="en">
<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-15615611-10"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-15615611-10');
    </script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
        @await Html.PartialAsync("_CommonCss")
    </style>
    <link rel="alternate" type="application/rss+xml" href="~/rss.xml" />
    @if (ViewData["Header"] != null)
    {
        @Html.Raw(ViewData["Header"]);
    }
    <title>@(ViewData["Title"] == null ? "Alan Edwardes" : $"{ViewData["Title"]} - Alan Edwardes")</title>
</head>
<body>
    <script type="application/ld+json">
        {
            "@@context": "http://schema.org",
            "@@type": "Person",
            "name": "Alan Edwardes",
            "url": "https://alanedwardes.com/",
            "sameAs": [
                "https://www.linkedin.com/in/alanedwardes/",
                "https://plus.google.com/+AlanEdwardes",
                "https://twitter.com/AlanEdwardes",
                "https://www.youtube.com/AlanEdwardes"
            ]
        }
    </script>
    <header>
        @await Html.PartialAsync("_Header")
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        @await Html.PartialAsync("_Footer")
    </footer>
    @if (ViewData["Footer"] != null)
    {
        @Html.Raw(ViewData["Footer"]);
    }
</body>
</html>
