@using AeBlog.Data
@using AeBlog.Display;
@using AeBlog.ViewModels;
@model SingleSkillViewModel
@{
    ViewBag.LayoutParameters = new LayoutParameters(Model.Skill, ViewType.Portfolio);
    Layout = "/Views/Layout.cshtml";
}

<div class="wrp prt list">
    <h1>Showing "@Model.Skill" Skill</h1>
    <p><a href="/portfolio/">&laquo; Remove filter</a></p>
    @foreach (var category in Model.Portfolios.Select(p => p.Category).Distinct())
    {
        <h2>@category</h2>
        foreach (var portfolio in Model.Portfolios.Where(p => p.Category == category).Select((p, i) => new KeyValuePair<int, Portfolio>(i, p)))
        {
            @Html.Partial("PortfolioItem", portfolio.Value)
            if (portfolio.Key % 2 != 0)
            {
                <div class="clr"></div>
            }
        }
        <div class="clr"></div>
    }
</div>