@using AeBlog.Data
@using AeBlog.Display;
@using AeBlog.ViewModels;
@model SinglePostViewModel
@{
    ViewBag.LayoutParameters = new LayoutParameters(Model.Post.title, ViewType.Single);
    Layout = "/Views/Layout.cshtml";
}

<div class="wrp">
    <div id="cnt">
        <h1>@Model.Post.title</h1>
        <p><small class="subtitle">Published on @Model.Post.published.ToString("dd") of @Model.Post.published.ToString("MMMM yyyy")</small></p>
        @Html.Raw(Model.Post.body)
    </div>
</div>
