@{
    @model Uri
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Model Viewer</title>
    <script type="module" src="/lib/model-viewer/model-viewer.min.js"></script>
    <style>
        html {
            height: 100%;
        }

        body {
            margin: 0;
            height: 100%;
            background: #222;
        }

        model-viewer {
            width: 100%;
            height: 100%;
            --poster-color: transparent;
        }
    </style>
</head>
<body>
    <model-viewer src="@Model" camera-controls></model-viewer>
</body>
</html>