@model Ae.Blog.Models.BlogModel
@{
    if (!string.IsNullOrWhiteSpace(Model.FilterValue))
    {
        ViewData["Title"] = $"{Model.FilterType} \"{Model.FilterValue}\"";
    }
    else
    {
        ViewData["Title"] = "Blog";
    }
}

<section>
    @await Html.PartialAsync("Sidebar", Model.Archive)
    <aside class="content left">
        @if (!string.IsNullOrWhiteSpace(Model.FilterValue))
        {
            <h2>@Model.FilterType "@Model.FilterValue"</h2>
            <p class="meta">Viewing subset of posts matching the @Model.FilterType.ToLower() "@Model.FilterValue".</p>
        }
        @foreach (var post in Model.Posts)
        {
            @await Html.PartialAsync("Post", post)
        }
    </aside>
    <div class="clear"></div>
</section>
