@using Ae.Blog.Extensions;
@model Ae.Blog.Models.BlogModel
@{
    ViewData["Title"] = Model.Single.Title;
    ViewData["Description"] = Model.Single.GetFirstLineText();
    ViewData["Footer"] = "<script src=\"//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/highlight.min.js\"></script>" +
                         "<script src=\"//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/languages/groovy.min.js\"></script>" +
                         "<script>" +
                         "var hljsThemeLink = document.createElement('link');" +
                         "hljsThemeLink.rel = 'stylesheet';" +
                         "hljsThemeLink.href = '//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/styles/atom-one-dark.min.css';" +
                         "hljsThemeLink.type = 'text/css';" +
                         "document.getElementsByTagName('head')[0].appendChild(hljsThemeLink);" +
                         "hljs.initHighlighting();" +
                         "</script>";
}

<section>
    @await Html.PartialAsync("Sidebar", Model.Archive)
    <script type="application/ld+json">
        {
            "@@context": "http://schema.org",
            "@@type": "BreadcrumbList",
            "itemListElement": [
                {
                    "@@type": "ListItem",
                    "position": 1,
                    "item": {
                        "@@id": "https://alanedwardes.com/blog/",
                        "name": "Blog"
                    }
                },
                {
                    "@@type": "ListItem",
                    "position": 2,
                    "item": {
                        "@@id": "https://alanedwardes.com@(Model.Single.Url)",
                        "name": "@Model.Single.Title"
                    }
                }
            ]
        }
    </script>
    @await Html.PartialAsync("Post", Model.Single)
    <h2 id="comments">Comments</h2>
    <div id="disqus_thread">
        <p>Please <a href="#comments" onclick="fetchComments()">click here</a> to load comments.</p>
    </div>
    <script>
        var observer = new IntersectionObserver(function (entries) {
            if (entries[0].isIntersecting) {
                fetchComments();
            }
        });

        var commentsElement = document.getElementById("disqus_thread");

        observer.observe(commentsElement);

        var commentsLoaded = false;
        function fetchComments() {
            if (commentsLoaded) {
                return;
            }

            commentsLoaded = true;
            commentsElement.innerHTML = 'Loading comments...';

            // Configure Disqus
            window.disqus_config = function () {
                this.page.url = "https://alanedwardes.com" + "@Model.Single.Url";
                this.page.identifier = "@Model.Single.Slug";
            };

            // Load Disqus
            var d = document, s = d.createElement('script');
            s.src = 'https://alanedwardes.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        }
    </script>
</section>
