@using Ae.Blog.Extensions;
@using System.Text;
@model Ae.Blog.Models.BlogModel
@{
    ViewData["Title"] = Model.Single.Title;
    ViewData["Description"] = Model.Single.GetFirstLineText();

    var footerIncludebuilder = new StringBuilder();

    if (Model.Single.ContentAll.Contains("```"))
    {
        footerIncludebuilder.AppendLine("<script src=\"/lib/highlight/highlight.pack.js\"></script>");

        var languages = new[] { "groovy", "csharp", "javascript", "json", "cpp", "ini", "bash", "html", "xml" };

        foreach (var language in languages)
        {
            if (Model.Single.ContentAll.Contains($"```{language}"))
            {
                footerIncludebuilder.AppendLine($"<script src=\"/lib/highlight/languages/{language}.min.js\"></script>");
            }
        }

        footerIncludebuilder.AppendLine("<script>" +
            "var hljsThemeLink = document.createElement('link');" +
            "hljsThemeLink.rel = 'stylesheet';" +
            "hljsThemeLink.href = '/lib/highlight/atom-one-dark.min.css';" +
            "hljsThemeLink.type = 'text/css';" +
            "document.getElementsByTagName('head')[0].appendChild(hljsThemeLink);" +
            "hljs.initHighlighting();" +
            "</script>");
    }

    var firstImage = Model.Single.GetFirstImage();

    if (firstImage != null)
    {
        ViewData["Image"] = firstImage.ToString();
    }

    ViewData["Footer"] = footerIncludebuilder.ToString();
}

@await Html.PartialAsync("BlogCommon")

<section>
    <script type="application/ld+json">
    {
        "@@context": "http://schema.org",
        "@@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@@type": "ListItem",
                "position": 1,
                "item": {
                    "@@id": "https://alanedwardes.com/blog/",
                    "name": "Blog"
                }
            },
            {
                "@@type": "ListItem",
                "position": 2,
                "item": {
                    "@@id": "https://alanedwardes.com@(Model.Single.Url)",
                    "name": "@Model.Single.Title"
                }
            }
        ]
    }
    </script>
    @await Html.PartialAsync("Post", Model.Single)
    <h2 id="comments">Comments</h2>
    <div id="disqus_thread">
        <p>Please <a href="#comments" onclick="fetchComments()">click here</a> to load comments.</p>
    </div>
    <script>
    var commentsElement = document.getElementById("disqus_thread");

    if (document.location.hash.startsWith('#comment')) {
        fetchComments();
    } else {
        var observer = new IntersectionObserver(function (entries) {
            if (entries[0].isIntersecting) {
                fetchComments();
            }
        });
        observer.observe(commentsElement);
    }

    var commentsLoaded = false;
    function fetchComments() {
        if (commentsLoaded) {
            return;
        }

        commentsLoaded = true;
        commentsElement.innerHTML = 'Loading comments...';

        // Configure Disqus
        window.disqus_config = function () {
            this.page.url = "https://alanedwardes.com" + "@Model.Single.Url";
            this.page.identifier = "@Model.Single.Slug";
        };

        // Load Disqus
        var d = document, s = d.createElement('script');
        s.src = 'https://alanedwardes.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    }
    </script>
</section>
