<section>
    <h2>Projects</h2>
    <p>This page lists my personal projects. For my professional experience, please see <a href="https://www.linkedin.com/in/alanedwardes/">linkedin.com/in/alanedwardes</a></p>

    <h3>Estranged: The Departure (2020)</h3>
    <p>Follows the story of a fisherman, stranded on a mysterious island during a violent storm. Little does he know his adventure has just begun, and the island is home to more than it first seems.</p>
    <p><video controls="" poster="@(Ae.Blog.Constants.CDN_ROOT)2fd87f19-7ed8-4374-b808-332059f2bc71.webp" width="960" height="540"><source type="video/mp4" src="@(Ae.Blog.Constants.CDN_ROOT)42c856ca-a2a8-4116-83ad-51f848d6e66b.mp4"></video></p>
    <p>A game built with Unreal Engine 4, with over 500,000 downloads to date. Released into Steam Early Access March 2017 with bi-weekly content updates for Windows and Linux until its release in May 2020.</p>
    <p>Available on <a href="https://store.steampowered.com/app/582890">Steam for Windows, macOS, and Linux</a>, and on <a href="https://www.nintendo.com/games/detail/estranged-the-departure-switch/">Nintendo eShop for Nintendo Switch</a></p>

    <h3>Estrangd: Act I (2014)</h3>
    <p>Tells the story of a lone fisherman, whose ship is stranded on a mysterious island during a violent storm. Explore the rich environments and meet the curious inhabitants of the island as you find a way back to the mainland.</p>
    <p><video controls="" poster="@(Ae.Blog.Constants.CDN_ROOT)d0baf21b-7cbf-4c0b-886b-56b42d4b1ca4.webp" width="960" height="540"><source type="video/mp4" src="@(Ae.Blog.Constants.CDN_ROOT)ab6a4107-1b00-4190-812e-cc02b479c243.mp4"></video></p>
    <p>A free Source Engine game released on Steam in January 2014, with over 900,000 downloads and just under 7,000 reviews to date. It follows the story of a lone fisherman, stranded on an island during a violent storm. And zombies!</p>
    <p>Available on <a href="https://store.steampowered.com/app/261820">Steam for Windows and Linux</a></p>

    <h3>Other Projects</h3>
    <p>A selection of smaller, open-source programming projects.</p>

    <div class="project small">
        <h4><a href="https://github.com/alanedwardes/Estranged.Core">Estranged.Core</a></h4>
        <p>Source code for the core gameplay components of Estranged: The Departure</p>
        <p><em>Language: C++</em></p>
    </div>

    <div class="project small">
        <h4><a href="https://github.com/alanedwardes/Estranged.Lfs">Estranged.Lfs</a></h4>
        <p>A Git LFS server implementation in C# designed to run in a serverless environment.</p>
        <p><em>Language: C&sharp;</em></p>
    </div>

    <div class="project small">
        <h4><a href="https://github.com/alanedwardes/Ae.Dns">Ae.Dns</a></h4>
        <p>Pure C# implementation of UDP and HTTPS DNS client/server and configurable caching/filtering.</p>
        <p><em>Language: C&sharp;</em></p>
    </div>

    <div class="project small">
        <h4><a href="https://github.com/alanedwardes/Ae.DirectChat">Ae.DirectChat</a></h4>
        <p>A peer to peer chat application built with WebRTC, supporting full-quality stereo audio.</p>
        <p><em>Language: C&sharp;, TypeScript</em></p>
    </div>

    <div class="project small">
        <h4><a href="https://github.com/alanedwardes/Jenkins.UnrealEngine.Builder">Jenkins.UnrealEngine.Builder</a></h4>
        <p>Groovy scripts for use in Jenkinsfiles to build Unreal Engine 4 projects.</p>
        <p><em>Language: Groovy</em></p>
    </div>

    <div class="project small">
        <h4><a href="https://github.com/alanedwardes/Ae.Synthetics">Ae.Synthetics</a></h4>
        <p>A bootstrapper for synthetic tests that are run on a schedule with metrics and alerting.</p>
        <p><em>Language: C&sharp;</em></p>
    </div>
    <div style="clear:both"></div>
    <p>See all projects on GitHub: <a href="https://github.com/alanedwardes/">github.com/alanedwardes</a></p>
</section>
