@{
    ViewData["Class"] = "projects";
    ViewData["Title"] = "Projects";
}

<section>
    <article>
        <h2>Estranged: Act II (Unreal Engine 4, ongoing)</h2>
        <p class="images">
            <img width="200" height="112.5" src="/sp01_screen-thumb.jpg" alt="" />
            <img width="200" height="112.5" src="/sp02_screen-thumb.jpg" alt="" />
            <img width="200" height="112.5" src="/sp04_screen-thumb.jpg" alt="" />
            <img width="200" height="112.5" src="/sp05_screen-thumb.jpg" alt="" />
        </p>
        <p>An immersive first person singleplayer experience. Continues the story of a fisherman, stranded on an island during a violent storm, as he tries to get off the island.</p>
        <p>I'm the creator and project lead, and I do most of the level design, programming and gameplay scripting. You can watch my dev blog series <a href="https://www.youtube.com/watch?v=SazBtubiBMc&amp;list=PLFxFKQapTGSFAsR5LzRrG0N69bADwkeEt">here</a>.</p>
        <h3>Responsibilities</h3>
        <ul>
            <li>Application of C++ and general 3D knowledge with interaction and "picking up" mechanics, weapons systems, custom actors and components, statistic reporting to the cloud, HUD, and editor volumes to aid level design and add gameplay elements</li>
            <li><a href="https://partner.steamgames.com/doc/sdk">Steamworks SDK</a> integration for achievements</li>
            <li>Putting together simple AI for animals, more complex AI for humans with gunplay using <a href="https://docs.unrealengine.com/latest/INT/Engine/AI/BehaviorTrees/">behaviour trees</a></li>
            <li>Co-ordinating a small team, managing localisations and <a href="https://steamcommunity.com/app/582890/discussions/">community liaison</a></li>
            <li>Experience with modular level design, UMG widgets, materials, lighting, post processing and Blueprint scripting and the static mesh pipeline to create engrossing worlds</li>
            <li>Implementing shaders as materials in UE4 using nodes. Knowledge of different shading techniques, what is performant and what isn't</li>
            <li>Cross-compiled for Windows and Linux using Jenkins CI infrastructure</li>
            <li>AWS Lambda functions written in C# to process player statistics</li>
        </ul>
        <p>Download Estranged: Act II on Steam: <a href="http://store.steampowered.com/app/582890">http://store.steampowered.com/app/582890</a></p>
    </article>
    <article>
        <h2>Estranged: Act I (Source Engine, released 2014)</h2>
        <p class="images">
            <img width="200" height="112.5" src="/sp10thewarehouse0051-thumb.jpg" alt="" />
            <img width="200" height="112.5" src="/sp01thebeginning0004-thumb.jpg" alt="" />
            <img width="200" height="112.5" src="/sp10thewarehouse0052-thumb.jpg" alt="" />
            <img width="200" height="112.5" src="/sp10thewarehouse0053-thumb.jpg" alt="" />
        </p>
        <p>Act I is the first game in the Estranged series. I started developing it mid-2011 as a Half-Life: 2 mod while I was studying at University. I published it on <a href="http://www.moddb.com/mods/estranged">ModDB</a>, and people liked it &ndash; so I carried on developing it.</p>
        <p>After releasing several alpha versions and attracting several people to work on the project, I released it on <a href="http://store.steampowered.com/app/261820">Steam</a> in January 2014 as a standalone Source Engine game for Windows, Mac and Linux.</p>
        <p>At the time of release it was translated into 26 languages, including Francés, Русский, 简体中文, 日本語, Español, Portugués and 한국의 with thanks to the amazing <a href="https://translation.steampowered.com/">Steam Translation community</a>.</p>
        <p>Act I has been downloaded by over 300,000 people since its release, and Steam users that have played it have left overwhelmingly positive feedback on the store page.</p>
        <p>Download Estranged: Act I on Steam: <a href="http://store.steampowered.com/app/261820">http://store.steampowered.com/app/261820</a></p>
    </article>
</section>