{% extends "base.html" %}

{% block description %}Alan Edwardes' Blog complete post archive.{% endblock %}

{% block title %}Archive &mdash; Alan Edwardes{% endblock %}

{% block content %}
	<div class="wrp">
		<div id="cnt">
			<h1>Post Archive</h1>
			<p>All {{ posts.count }} posts on this blog starting with the most recent.</p>
			{% for post in posts %}
				{% if last_post.published|date('Y') != post.published|date('Y') %}
					{% if not loop.first %}
						</ul>
					{% endif %}
					
					<h2>From {{ post.published|date('Y') }}</h2>
					<ul>
				{% endif %}
				<li>
					<code>{{ post.published|date("d/m/Y") }}</code> - <a href="/posts/{{ post.slug }}/">{{ post.title }}</a>
				</li>
				{% set last_post = post %}
			{% endfor %}
			</ul>
		</div>
	</div>
{% endblock %}
