{% extends "base.html" %}

{% block description %}Alan Edwardes' Blog complete post archive.{% endblock %}

{% block title %}Archive &mdash; Alan Edwardes{% endblock %}

{% block content %}
	<div class="wrp slm">
		<h1>Post Archive</h1>
		<p>All {{ posts.count }} posts on this blog starting with the most recent.</p>
		{% for post in posts %}
			{% ifchanged post.published.year %}
				{% if not forloop.first %}
					</ul>
				{% endif %}
				
				<h2>From {{ post.published.year }}</h2>
				<ul>
			{% endifchanged %}
			<li>
				<code>{{ post.published|date:"d/m/Y" }}</code> - <a href="{{ post.get_absolute_url }}">{{ post.title|truncatewords:6 }}</a>
			</li>
		{% endfor %}
		</ul>
	</div>
{% endblock %}
