{% spaceless %}
{% load random_item nowhitespace %}
{% random_item 046380|A20D1E|827b00|955918|800463 theme %}
<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}{% endblock %}</title>
		<meta name="description" content="{% block description %}{% endblock %}">
		<meta name="google-site-verification" content="NCSP7ePJCNSEOH5g0NfK8--mzC-zaxHs2mgRYi0PWbA">
		<link rel="alternate" type="application/rss+xml" href="/feeds/posts/" title="Alan Edwardes Posts">
		<link rel="alternate" type="application/rss+xml" href="/feeds/comments/" title="Alan Edwardes Comments">
		<link id="favicon" rel="shortcut icon" href="http://favicon.alanedwardes.com/{{ theme }}/">
		{% if is_single %}
			<link rel="alternate" type="application/rss+xml" href="/feeds/comments/{{ post.slug }}/" title="Comments (just this post)">
		{% endif %}
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Alegreya|Alegreya+SC">
		{% if post.slideshow %}
			<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Raleway:100&amp;text={{ post.title|urlencode }}">
		{% endif %}
		<link rel="stylesheet" type="text/css" href="/media/main.css">
		<script src="/media/main.js"></script>
		{% if request.GET.mobile %}
			<meta name="viewport" content="width=600,initial-scale=1">
			<link rel="stylesheet" type="text/css" href="/media/mobile.css">
		{% endif %}
		<!--[if IE 6]>
			<link rel="stylesheet" type="text/css" href="/media/ie6.css">
		<![endif]-->
		<style id="theme">{% nowhitespace %}
			.dbg, label.error, #hdr, .save, #ldg, #tbg
			{
				background-color:#{{ theme }};
			}
			.dbd, input.text:focus, textarea:focus, input.error, textarea.error, #tbg, #ftr, #bdy.shw, .admin .metawrap, .save, .tri h2, #ftr a
			{
				border-color:#{{ theme }};
			}
			.dco, a
			{
				color:#{{ theme }};
			}
		{% endnowhitespace %}</style>
		{% if not user.is_authenticated %}
			{% include "analytics.html" %}
		{% endif %}
	</head>
	<body>
		<div id="hdr">
			<div class="wrp">
				<div class="rgt">
					{% if request.user.is_authenticated %}<a href="/admin/">Admin</a>{% endif %}
					<a href="/estranged/">Play Estranged</a>
					<a{% if request.path == '/archive/' %} class="current"{% endif %} href="/archive/">Archive</a>
					{% for page in pages %}
						<a{% if request.path == page.get_absolute_url  %} class="current"{% endif %} href="{{ page.get_absolute_url }}">{{ page.title }}</a>
					{% endfor %}
					<a{% if request.path == '/contact/' %} class="current"{% endif %} href="/contact/">Contact</a>
				</div>
				<div class="lft">
					<a href="/"><img src="/media/logo.png" height="25" width="181" alt="Alan Edwardes"/></a>
				</div>
			</div>
		</div>
		{% if post.slideshow and false %}
			<script>{% nowhitespace %}
				ae.background.images = '{{ post.slideshow }}'.split('|');
				ae.background.index = ae.util.randomFromTo(0, bgImg.length - 1);
				ae.background.replace();
			{% endnowhitespace %}</script>
			<div id="tbg"></div>
			<div id="ttl">
				<div class="wrp">{{ post.title }}</div>
			</div>
		{% endif %}
		<div id="bdy" class="{% if post.slideshow and false %}shw{% endif %}{% if is_index %} hme{% else %} sde{% endif %}">
			{% block content %}{% endblock %}
			<div style="clear:both"></div>
		</div>
		<div id="ftr">{% nowhitespace %}
			<div class="wrp">
				<div class="lft">
					&copy; 2006 &ndash; {% now "Y" %} <a href="/about/">Alan Edwardes</a> / <a href="https://github.com/alanedwardes/aeblog">code on github</a>
					{% if request.path == '/' %}
						 / Powered by <a href="http://www.audioscrobbler.net/">AudioScrobbler</a>, powered by <a href="http://steampowered.com/">Steam</a>
					{% endif %}
				</div>
				<div class="rgt">
					<a href="#" onclick="window.scrollTo(0);return false;">Top</a> &#8593;
				</div>
				<div style="clear:both"></div>
			</div>
		{% endnowhitespace %}</div>
	</body>
</html>
{% endspaceless %}