<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}{% endblock %}</title>
		<meta name="description" content="{% block description %}{% endblock %}">
		<meta name="google-site-verification" content="NCSP7ePJCNSEOH5g0NfK8--mzC-zaxHs2mgRYi0PWbA">
		<link rel="alternate" type="application/rss+xml" href="/feeds/posts/" title="Alan Edwardes Posts">
		<link rel="alternate" type="application/rss+xml" href="/feeds/comments/" title="Alan Edwardes Comments">
		{% set theme = random(['046380', 'A20D1E', '827b00', '955918', '800463']) %}
		<link rel="icon" type="image/png" href="/favicon/{{ theme }}.png">
		<meta charset="utf-8">
		{% if is_single %}
			<link rel="alternate" type="application/rss+xml" href="/feeds/comments/{{ post.slug }}/" title="Comments (just this post)">
		{% endif %}
		<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Alegreya%7CAlegreya+SC">
		
		<script>{% include "main.js" %}</script>
		<style>
			{% include "main.css" %}
			.dbg, label.error, #hdr, .save, #ldg, #ftr, body
			{
				background-color:#{{ theme }};
			}
			.dbd, input.text:focus, textarea:focus, input.error, textarea.error, #ftr, #bdy.shw, .admin .metawrap, .save, .tri h2, #bdy.hme a
			{
				border-color:#{{ theme }};
			}
			.dco, a
			{
				color:#{{ theme }};
			}
		</style>
	</head>
	<body>
		<div id="hdr">
			<div class="wrp">
				<div class="rgt">
					<a{% if path starts with '/portfolio/' %} class="current"{% endif %} href="/portfolio/">Portfolio</a>
					<a{% if path starts with '/archive/' or path starts with '/posts/' %} class="current"{% endif %} href="/archive/">Blog</a>
					<a{% if path starts with '/contact/' %} class="current"{% endif %} href="/contact/">About &amp; Contact</a>
				</div>
				<div class="lft">
					<a href="/">&AElig; &#124; Alan Edwardes</a>
				</div>
			</div>
		</div>
		<div id="bdy"{% if not is_single %} class="hme"{% endif %}>
			{% block content %}{% endblock %}
			<div style="clear:both"></div>
		</div>
		<div id="ftr">
			<div class="wrp">
				<div class="lft">
					<span>&copy; 2006 &ndash; {{ "now"|date("Y") }} <a href="/">Alan Edwardes</a> / <a href="https://github.com/alanedwardes/aeblog/blob/master/templates/{{ template_name }}">Source on GitHub</a></span>
					{% if template_name == 'index.html' %}
						<span> / Data from <a href="http://twitter.com/">Twitter</a>, <a href="http://www.audioscrobbler.net/">AudioScrobbler</a>, <a href="http://steampowered.com/">Steam</a> and <a href="http://www.mapmyfitness.com/">MapmyFitness</a></span>
					{% endif %}
				</div>
				<div class="rgt">
					<a href="#" onclick="window.scrollTo(0);return false;">Top</a> &#8593;
				</div>
				<div style="clear:both"></div>
			</div>
		</div>
	</body>
</html>