{% spaceless %}
{% load random_item age nowhitespace version %}
{% random_item 046380|A20D1E|6F8C07|955918|800463 theme %}
<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}{% endblock %}</title>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
		<meta name="description" content="{% block description %}{% endblock %}">
		<meta name="google-site-verification" content="NCSP7ePJCNSEOH5g0NfK8--mzC-zaxHs2mgRYi0PWbA">
		<link rel="alternate" type="application/rss+xml" href="/feeds/posts/" title="Alan Edwardes Posts">
		<link rel="alternate" type="application/rss+xml" href="/feeds/comments/" title="Alan Edwardes Comments">
		<link id="favicon" rel="shortcut icon" href="http://favicon.projects.alanedwardes.com/{{ theme }}/">
		{% if is_single %}
			<link rel="alternate" type="application/rss+xml" href="/feeds/comments/{{ post.slug }}/" title="Comments (just this post)">
		{% endif %}
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=PT+Sans|Copse">
		{% if post.slideshow %}
			<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Raleway:100&amp;text={{ post.title|urlencode }}">
		{% endif %}
		<script>var theme = '{{ theme }}';</script>
		{% if request.META.SERVER_PORT == "8080" or request.GET.local %}
			<link rel="stylesheet" type="text/css" href="/media/main.css">
			<script src="/media/jquery-latest.min.js"></script>
			<script src="/media/main.js"></script>
		{% else %}
			<link rel="stylesheet" type="text/css" href="http://d13viqhq54ll3j.cloudfront.net/{% version %}-main.min.css">
			<script src="http://d13viqhq54ll3j.cloudfront.net/{% version %}-merge.min.js"></script>
		{% endif %}
		{% if request.GET.mobile %}
			<meta name="viewport" content="width=600,initial-scale=1">
			<link rel="stylesheet" type="text/css" href="/media/mobile.css">
		{% endif %}
		<!--[if IE 6]>
			<link rel="stylesheet" type="text/css" href="/media/ie6.css?v={% version %}">
			<script src="/media/jquery.pngfix.min.js?v={% version %}"></script>
		<![endif]-->
		<style id="theme">{% nowhitespace %}
			.dbg, label.error, #hdr, .save, #ldg, #tbg{
				background-color:#{{ theme }};
			}
			.dbd, input.text:focus, textarea:focus, input.error, textarea.error, #tbg, #ftr, #bdy.shw, .admin .metawrap, .save, .tri h2, #ftr a{
				border-color:#{{ theme }};
			}
			.dco, a{
				color:#{{ theme }};
			}
		{% endnowhitespace %}</style>
		{% if not user.is_authenticated %}
			{% include "analytics.html" %}
		{% endif %}
	</head>
	<body>
		<div id="hdr">
			<div class="wrp">
				<div class="rgt">
					{% if request.user.is_authenticated %}<a href="/admin/">Admin</a>{% endif %}
					<a{% if request.path == '/archive/' %} class="current"{% endif %} href="/archive/">Blog Archive</a>
					<a{% if request.path == '/about/'   %} class="current"{% endif %} href="/about/">About Me</a>
					<a{% if request.path == '/contact/' %} class="current"{% endif %} href="/contact/">Contact</a>
				</div>
				<div class="lft">
					<a href="/"><img src="http://d13viqhq54ll3j.cloudfront.net/logo.png" height="25" width="181" alt="Alan Edwardes"/></a>
				</div>
			</div>
		</div>
		{% if post.slideshow %}
			<script>{% nowhitespace %}
				var bgImg = '{{ post.slideshow }}'.split('|');
				var curBg = randomFromTo(0, bgImg.length-1);
				$(document).ready(replaceBg);
			{% endnowhitespace %}</script>
			<div id="tbg"></div>
			<div id="ttl">
				<div class="wrp">{{ post.title }}</div>
			</div>
		{% endif %}
		<div id="bdy" class="{% if post.slideshow %}shw{% endif %}{% if request.path == '/' %} hme{% else %} sde{% endif %}">
			{% block content %}{% endblock %}
			<div style="clear:both"></div>
		</div>
		<div id="ftr">{% nowhitespace %}
			<div class="wrp">
				<div class="lft">
					&copy; 2006 &ndash; {% now "Y" %} <a href="/about/">Alan Edwardes</a> / <a href="https://github.com/alanedwardes/aeblog">code on github</a>
					{% if is_index %}
						 / Powered by <a href="http://www.audioscrobbler.net/">AudioScrobbler</a>, powered by <a href="http://steampowered.com/">Steam</a>
					{% endif %}
				</div>
				<div class="rgt">
					<a href="#" onclick="$(document).scrollTop(0);action('footer-top-link');return false;">Top</a> &#8593;
				</div>
				<div style="clear:both"></div>
			</div>
		{% endnowhitespace %}</div>
	</body>
</html>
{% endspaceless %}