{% load htmlentities paragraphize nowhitespace md5 %}

{% if comments %}
	<h2 id="comments">{{ post.comments }} Comment{{ post.comments|pluralize }}</h2>
	{% for comment in comments %}
		<div id="comment-{{ comment.id }}" class="comment{% if comment.is_admin %} admin{% endif %}">
			<a class="grav" target="_blank" href="http://www.gravatar.com/{% md5 comment.email %}">
				<img width="24" height="24" alt="{{ comment.name|striptags|escape }}'s Gravatar" src="http://www.gravatar.com/avatar/{% md5 comment.email %}.png?s=24&amp;r=g&amp;d=retro"/>
			</a>
			<div class="metawrap">
				<div class="postdate">
					<a href="{{ comment.get_absolute_url }}" title="{{ comment.published|date:"jS \o\f F Y \a\t g:i A" }}">{{ comment.published|timesince }} ago</a>
				</div>
				<div id="author-{{ comment.id }}" class="author">{% nowhitespace %}
					{% if comment.url %}
						<a title="Go to {{ comment.name|striptags|escape }}'s website" rel="nofollow" target="_blank" href="{{ comment.url|escape }}">{{ comment.name|striptags|htmlentities }}</a>
					{% else %}
						{{ comment.name|striptags|htmlentities }}
					{% endif %}
				{% endnowhitespace %}</div>
			</div>
			<div class="counter">{{ forloop.counter }}</div>
			<div class="body">{{ comment.body|urlizetrunc:40|paragraphize }}</div>
		</div>
	{% endfor %}
	<script>
		{% nowhitespace %}
		$('.comment').each(function(i, comment)
		{
			var comment_body = $(comment).find('.body');
			var body = $(comment_body).text();
			var replies = [];
			
			$(body.split(' ')).each(function(i, word)
			{
				if(word.match('@'))
				{
					replies.push(word);
				}
			});
			
			if(replies.length > 0)
			{
				$(replies).each(function(i, replyTo)
				{
					last_author = false;
					this_author_id = parseInt($(comment).find('.author').attr('id').replace('author-', ''));
					$('.author').each(function(i, author)
					{
						author_id = parseInt($(author).attr('id').replace('author-', ''));
						if($(author).text().match(replyTo.replace('@', '')) && author_id < this_author_id)
						{
							last_author = this;
						}
					});
					
					if(last_author)
					{
						comment_body.html(
							comment_body.html().replace(replyTo,
								'<a href="#' + $(last_author).attr('id').replace('author-', 'comment-') + '">' + replyTo + '</a>'
							)
						)
					}
				});
			}
		});
		{% endnowhitespace %}
	</script>
{% endif %}