{% load nowhitespace %}

<h2 id="comment-form">Add a Comment</h2>
{% if data.generalerror %}
	<div class="error">{{ data.generalerror }}</div>
{% endif %}
<form action="{{ post.get_absolute_url }}#comment-form" method="post">
	{% csrf_token %}
	<input type="text" name="email" value="" id="email_field" style="display:none" />
	{% if not user.is_authenticated %}
		<div{% if data.nameerror %} class="errorwrap"{% endif %}>
			<label for="{{ settings.NAME_FIELD_NAME }}">Name <small>(If it's not real, it better be cool)</small></label>
			<input name="{{ settings.NAME_FIELD_NAME }}" type="text" id="{{ settings.NAME_FIELD_NAME }}" class="text" value="{{ data.name }}"/>
			{% if data.nameerror %}<div class="error">{{ data.nameerror }}</div>{% endif %}
		</div>
		<div{% if data.emailerror %} class="errorwrap"{% endif %}>
			<label for="{{ settings.EMAIL_FIELD_NAME }}">Email <small>(optional, used for <a target="_blank" href="http://www.gravatar.com/">your avatar</a>)</small></label>
			<input name="{{ settings.EMAIL_FIELD_NAME }}" type="text" id="{{ settings.EMAIL_FIELD_NAME }}" class="text" value="{{ data.email }}"/>
			{% if data.emailerror %}<div class="error">{{ data.emailerror }}</div>{% endif %}
		</div>
		<div{% if data.urlerror %} class="errorwrap"{% endif %}>
			<label for="{{ settings.URL_FIELD_NAME }}">Website Address <small>(optional, makes your name link to your site)</small></label>
			<input name="{{ settings.URL_FIELD_NAME }}" type="text" id="{{ settings.URL_FIELD_NAME }}" class="text" value="{{ data.url }}"/>
			{% if data.urlerror %}<div class="error">{{ data.urlerror }}</div>{% endif %}
		</div>
	{% endif %}
	<div{% if data.bodyerror %} class="errorwrap"{% endif %}>
		<script>{% nowhitespace %}
			var authors = [];
			var author_divs = ae.util.byClass('author');
			for (var i = 0; i < author_divs.length; i++)
			{
				var author = author_divs[i].textContent || author_divs[i].innerText;
				if (authors.indexOf(author) < 0 && author)
				{
					authors.push(author);
				}
				if (authors.length > 10)
				{
					break;
				}
			}
			
			var oldcontent = '';
			function suggestNames(object)
			{
				var replySuggestions = document.getElementById('reply-suggestions');
				if(object.value.substr(-1, 1) == '@')
				{
					link = '@<a href="#" onclick="document.getElementById(\'{{ settings.COMMENT_FIELD_NAME }}\').value += this.innerHTML;document.getElementById(\'reply-suggestions\').innerHTML = \'\';return false">';
					
					replySuggestions.innerHTML = 'Reply to: ' + link + authors.join('</a>, ' + link) + '</a>';
				}
				else if(object.value != oldcontent)
				{
					replySuggestions.innerHTML = '';
				}
				oldcontent = object.value;
			}
		{% endnowhitespace %}</script>
		<label for="{{ settings.BODY_FIELD_NAME }}">Comment <small>(No HTML, URLs are made clickable, press enter twice for a new paragraph{% if post.comments %}. Type @name to reply.{% endif %})</small></label>
		<div id="reply-suggestions"></div>
		<textarea onkeyup="suggestNames(this)" name="{{ settings.BODY_FIELD_NAME }}" id="{{ settings.BODY_FIELD_NAME }}" rows="7" cols="30">{{ data.body }}</textarea>
		{% if data.bodyerror %}<div class="error">{{ data.bodyerror }}</div>{% endif %}
	</div>
	<div>
		<input type="submit" class="save" value="Save Comment"/>
	</div>
	<input type="text" name="honeypot" value="" style="display:none" />
</form>