{% load nowhitespace %}

<h2 id="comment-form">Add a Comment</h2>
{% if data.generalerror %}
	<div class="error">{{ data.generalerror }}</div>
{% endif %}
<form action="{{ post.get_absolute_url }}#comment-form" method="post">
	{% csrf_token %}
	<input type="text" name="email" value="" id="email_field" style="display:none" />
	{% if not user.is_authenticated %}
		<div{% if data.nameerror %} class="errorwrap"{% endif %}>
			<label for="cname">Name <small>(If it's not real, it better be cool)</small></label>
			<input name="name" type="text" id="cname" class="text" value="{{ data.name }}"/>
			{% if data.nameerror %}<div class="error">{{ data.nameerror }}</div>{% endif %}
		</div>
		<div{% if data.emailerror %} class="errorwrap"{% endif %}>
			<label for="jerry_the_spider">Email <small>(optional, used for <a target="_blank" href="http://www.gravatar.com/">your avatar</a>)</small></label>
			<input name="jerry_the_spider" type="text" id="jerry_the_spider" class="text" value="{{ data.email }}"/>
			{% if data.emailerror %}<div class="error">{{ data.emailerror }}</div>{% endif %}
		</div>
		<div{% if data.urlerror %} class="errorwrap"{% endif %}>
			<label for="curl">URL <small>(optional, makes your name link to your site)</small></label>
			<input name="url" type="text" id="curl" class="text" value="{{ data.url }}"/>
			{% if data.urlerror %}<div class="error">{{ data.urlerror }}</div>{% endif %}
		</div>
	{% endif %}
	<div{% if data.bodyerror %} class="errorwrap"{% endif %}>
		<script>{% nowhitespace %}
			var authors = new Array();
		
			$('.author').each(function(i, author)
			{
				authors.push($(author).text());
			});
			
			authors = $.unique(authors.slice(authors.length - 10, authors.length));
			
			oldcontent = '';
			function suggestNames(object){
				if(object.value.substr(-1, 1) == '@'){
					link = '@<a href="#" onclick="document.getElementById(\'cbody\').value += this.innerHTML;document.getElementById(\'reply-suggestions\').innerHTML = \'\';return false">';
					
					$('#reply-suggestions').html('Reply to: ' + link + authors.join('</a>, ' + link) + '</a>');
				}else if(object.value != oldcontent){
					$('#reply-suggestions').html('');
				}
				oldcontent = object.value;
			}
		{% endnowhitespace %}</script>
		<label for="cbody">Comment <small>(No HTML, URLs are made clickable, press enter twice for a new paragraph{% if post.comments %}. Type @name to reply.{% endif %})</small></label>
		<div id="reply-suggestions"></div>
		<textarea onkeyup="suggestNames(this)" name="body" id="cbody" rows="7" cols="30">{{ data.body }}</textarea>
		{% if data.bodyerror %}<div class="error">{{ data.bodyerror }}</div>{% endif %}
	</div>
	<div>
		<input type="submit" class="save" value="Save Comment"/>
	</div>
	<input type="text" name="honeypot" value="" style="display:none" />
</form>