{% load htmlentities paragraphize nowhitespace md5 %}

{% if comments %}
	<h2 id="comments">{{ post.comments }} Comment{{ post.comments|pluralize }}</h2>
	{% for comment in comments %}
		<div id="comment-{{ comment.id }}" class="comment{% if comment.is_admin %} admin{% endif %}">
			<a class="grav" target="_blank" href="http://www.gravatar.com/{% md5 comment.email %}">
				<img width="24" height="24" alt="{{ comment.name|striptags|escape }}'s Gravatar" src="http://www.gravatar.com/avatar/{% md5 comment.email %}.png?s=24&amp;r=g&amp;d=retro"/>
			</a>
			<div class="metawrap">
				<div class="postdate">
					<a href="{{ comment.get_absolute_url }}" title="{{ comment.published|date:"jS \o\f F Y \a\t g:i A" }}">{{ comment.published|timesince }} ago</a>
				</div>
				<div id="author-{{ comment.id }}" class="author">{% nowhitespace %}
					{% if comment.url %}
						<a title="Go to {{ comment.name|striptags|escape }}'s website" rel="nofollow" target="_blank" href="{{ comment.url|escape }}">{{ comment.name|striptags|htmlentities }}</a>
					{% else %}
						{{ comment.name|striptags|htmlentities }}
					{% endif %}
				{% endnowhitespace %}</div>
			</div>
			<div class="counter">{{ forloop.counter }}</div>
			<div class="body">{{ comment.body|urlizetrunc:40|paragraphize }}</div>
		</div>
	{% endfor %}
	<script>{% nowhitespace %}
		var comments = ae.util.byClass('comment');
		for (var commentIndex = 0; commentIndex < comments.length; commentIndex++)
		{
			var comment = comments[commentIndex];
			var comment_body = ae.util.byClass('body', comment)[0];
			var body = comment_body.innerText;
			var replies = [];
			
			var words = body.split(' ');
			for (var wordIndex = 0; wordIndex < words.length; wordIndex++)
			{
				var word = words[wordIndex];
				if (word.match('@'))
				{
					replies.push(word);
				}
			}
			
			if (replies.length > 0)
			{
				for (var replyIndex = 0; replyIndex < replies.length; replyIndex++)
				{
					var reply = replies[replyIndex];
					var last_author = false;
					var this_author_id = parseInt(ae.util.byClass('author', comment)[0].id.replace('author-', ''));
					var authors = ae.util.byClass('author');
					for (var authorIndex = 0; authorIndex < authors.length; authorIndex++)
					{
						var author = authors[authorIndex];
						var author_id = parseInt(author.id.replace('author-', ''));
						if (author.innerHTML.match(reply.replace('@', '')) && author_id < this_author_id)
						{
							last_author = author;
						}
					}
					
					if (last_author)
					{
						comment_body.innerHTML = comment_body.innerHTML.replace(reply, '<a href="#' + last_author.id.replace('author-', 'comment-') + '">' + reply + '</a>');
					}
				}
			}
		}
	{% endnowhitespace %}</script>
{% endif %}