{% extends "base.html" %}
{% load nowhitespace %}

{% block description %}How to contact me.{% endblock %}

{% block title %}Contact &mdash; Alan Edwardes{% endblock %}

{% block content %}
	<div class="wrp">
		<div class="lft">
			<div id="cnt">
				<h1>Contact</h1>
				{% if data.done %}
					Email sent - thanks for getting in touch.
				{% else %}
					{% if data.generalerror %}
						<div class="error">{{ data.generalerror }}</div>
					{% endif %}
					<form action="" method="post">
						{% csrf_token %}
						<div{% if data.nameerror %} class="errorwrap"{% endif %}>
							<label for="name">Name <small>(If it's not real, it better be cool&ndash; and not Brandon Flowers)</small></label>
							<input name="name" class="text" type="text" id="name" value="{{ data.name }}"/>
							{% if data.nameerror %}<div class="error">{{ data.nameerror|safe }}</div>{% endif %}
						</div>
						<div{% if data.emailerror %} class="errorwrap"{% endif %}>
							<label for="email">Email <small>(Important, allows me to contact you back)</small></label>
							<input name="email" class="text" type="text" id="email" value="{{ data.email }}"/>
							{% if data.emailerror %}<div class="error">{{ data.emailerror }}</div>{% endif %}
						</div>
						<div{% if data.subjecterror %} class="errorwrap"{% endif %}>
							<label for="subject">Subject <small>(The subject of the email)</small></label>
							<input name="subject" class="text" type="text" id="subject" value="{{ data.subject }}"/>
							{% if data.subjecterror %}<div class="error">{{ data.subjecterror }}</div>{% endif %}
						</div>
						<div{% if data.bodyerror %} class="errorwrap"{% endif %}>
							<label for="body">Email Body <small>(HTML won't work, URLs will be made clickable)</small></label>
							<textarea name="body" id="body" rows="12" cols="30">{{ data.body }}</textarea>
							{% if data.bodyerror %}<div class="error">{{ data.bodyerror }}</div>{% endif %}
						</div>
						<div>
							<input type="submit" class="save" value="Send Email"/>
						</div>
					</form>
				{% endif %}
			</div>
		</div>
		<div class="rgt">
			<div id="sdb">
				<p>Use this page to get in touch. Rules:</p>
				<ul>
					<li>You can either use this form, or reach me at <script>{% nowhitespace %}
						document.write(ae.print_mail());
					{% endnowhitespace %}</script>, whichever is easier</li>
					<li>I'll try and get back to you in 24 hours or so</li>
					<li>Don't contact me if you are <a href="http://en.wikipedia.org/wiki/Brandon_Flowers">Brandon Flowers</a>*</li>
					<li>If you make up a name, it better be cool</li>
					<li>It also better not be Brandon Flowers*</li>
				</ul>
				<p><small>* Please note that in the unlikely event that Brandon Flowers does contact me and/or gives me free money, I may decide to change this policy. Right now though, I hate the guy.</small></p>
				<div style="margin-bottom:15px"></div>
				<p>Oh, and one more rule:</p>
				<ul>
					<li>Don't ask me about my irrational hatred of Brandon Flowers.</li>
				</ul>
				<div style="margin-bottom:15px"></div>
				<p>&mdash; Alan.</p>
			</div>
		</div>
	</div>
{% endblock %}
