{% extends "base.html" %}

{% block description %}How to contact me.{% endblock %}

{% block title %}Contact &mdash; Alan Edwardes{% endblock %}

{% block content %}
	<div class="wrp">
		<div id="cnt">
			<h1>About &amp; Contact</h1>
			{% if data.done %}
				Email sent - thanks for getting in touch.
			{% else %}
				<p class="ctr">I'm a developer with 1 years' industry experience at a development house.</p>
				
				<p class="ctr">My CV is available upon request, and you can also visit my <a href="../portfolio/">portfolio</a> to learn more.</p>
				
				<div class="orn wht"></div>
				
				<p class="ctr">Email: <span id="email"></span><script>ae.print_mail('email')</script> / Twitter: <a href="https://twitter.com/AlanEdwardes">AlanEdwardes</a> / Steam: <a href="http://steamcommunity.com/id/alanedwardes/">alanedwardes</a></p>
			{% endif %}
		</div>
	</div>
{% endblock %}
