{% extends "base.html" %}
{% load nowhitespace timesince_years %}

{% block description %}How to contact me.{% endblock %}

{% block title %}Contact &mdash; Alan Edwardes{% endblock %}

{% block content %}
	<div class="wrp">
		<div class="lft">
			<div id="cnt">
				<h1>About &amp; Contact</h1>
				{% if data.done %}
					Email sent - thanks for getting in touch.
				{% else %}
					<p>I'm a {{ settings.BIRTH_DATE|timesince_years }} year old student living in the UK. I'm your typical nerd: I dabble in web design (both professionally and as a hobby), programming, and gaming (see my <a href="http://steamcommunity.com/id/alanedwardes">Steam profile</a> for my PC gaming habits).</p>
					<p>I love alternative rock (see my <a href="http://www.last.fm/user/alanedwardes">Last.fm profile</a>), satire and American animated comedy.</p>
					
					<h2>Get In Touch</h2>
				
					{% if data.generalerror %}
						<div class="error">{{ data.generalerror }}</div>
					{% endif %}
					<form action="" method="post">
						{% csrf_token %}
						<div{% if data.nameerror %} class="errorwrap"{% endif %}>
							<label for="{{ settings.NAME_FIELD_NAME }}">Name <small>(If it's not real, it better be cool&ndash; and not Brandon Flowers)</small></label>
							<input name="{{ settings.NAME_FIELD_NAME }}" class="text" type="text" id="{{ settings.NAME_FIELD_NAME }}" value="{{ data.name }}"/>
							{% if data.nameerror %}<div class="error">{{ data.nameerror|safe }}</div>{% endif %}
						</div>
						<div{% if data.emailerror %} class="errorwrap"{% endif %}>
							<label for="{{ settings.EMAIL_FIELD_NAME }}">Email <small>(Important, allows me to contact you back)</small></label>
							<input name="{{ settings.EMAIL_FIELD_NAME }}" class="text" type="text" id="{{ settings.EMAIL_FIELD_NAME }}" value="{{ data.email }}"/>
							{% if data.emailerror %}<div class="error">{{ data.emailerror }}</div>{% endif %}
						</div>
						<div{% if data.subjecterror %} class="errorwrap"{% endif %}>
							<label for="{{ settings.SUBJECT_FIELD_NAME }}">Subject <small>(The subject of the email)</small></label>
							<input name="{{ settings.SUBJECT_FIELD_NAME }}" class="text" type="text" id="{{ settings.SUBJECT_FIELD_NAME }}" value="{% if not data.subject %}{{ request.GET.subject }}{% else %}{{ data.subject }}{% endif %}"/>
							{% if data.subjecterror %}<div class="error">{{ data.subjecterror }}</div>{% endif %}
						</div>
						<div{% if data.bodyerror %} class="errorwrap"{% endif %}>
							<label for="{{ settings.BODY_FIELD_NAME }}">Email Body <small>(HTML won't work, URLs will be made clickable)</small></label>
							<textarea name="{{ settings.BODY_FIELD_NAME }}" id="{{ settings.BODY_FIELD_NAME }}" rows="12" cols="30">{% if not data.body %}{{ request.GET.body }}{% else %}{{ data.body }}{% endif %}</textarea>
							{% if data.bodyerror %}<div class="error">{{ data.bodyerror }}</div>{% endif %}
						</div>
						<div>
							<input type="submit" class="save" value="Send Email"/>
						</div>
					</form>
				{% endif %}
			</div>
		</div>
		<div class="rgt">
			<div id="sdb">
				<h2>Rules</h2>
				<small class="subtitle">Use this page to get in touch.</small>
				<ul>
					<li>You can either use this form, or reach me at <script>{% nowhitespace %}
						document.write(ae.print_mail());
					{% endnowhitespace %}</script>, whichever is easier</li>
					<li>Don't contact me if you are <a href="http://en.wikipedia.org/wiki/Brandon_Flowers">Brandon Flowers</a>*</li>
					<li>If you make up a name, it better be cool</li>
					<li>It also better not be Brandon Flowers*</li>
				</ul>
				<p><small>* Please note that in the unlikely event that Brandon Flowers does contact me and/or gives me free money, I may decide to change this policy.</small></p>
				<div style="margin-bottom:15px"></div>
				<p>Oh, and one more rule:</p>
				<ul>
					<li>Don't ask me about my irrational hatred of Brandon Flowers.</li>
				</ul>
				<div style="margin-bottom:15px"></div>
				<p>&mdash; Alan.</p>
			</div>
		</div>
	</div>
{% endblock %}
