{% extends "base.html" %}

{% block description %}Hire me.{% endblock %}

{% block title %}Hire Me &mdash; Alan Edwardes{% endblock %}

{% block content %}
	<div class="wrp">
		<div class="lft">
			<div id="cnt">
				<h2>THIS PAGE ISN'T READY. GO AWAY</h2>
				<h2>Hire Me</h2>
				<p>I do freelance work. Take a look at some of my skills to the left and see if I fit your job description.</p>
			</div>
		</div>
		<div class="rgt">
			<div id="sdb">
				<h2>Skills</h2>
				<h3>Programming Languages</h3>
				<ul>
					<li>HTML</li>
					<li>CSS</li>
					<li>JavaScript</li>
					<li>Python</li>
					<li>SQL</li>
					<li>PHP</li>
					<li>Java</li>
					<li>Visual Basic</li>
				</ul>
				
				<h3>Web Development Specific</h3>
				<ul>
					<li>Standards complient web development</li>
					<li>Can create dynamic interfaces using AJAX</li>
					<li>Understand and can prevent security exploits such as XSS and SQL injection</li>
					<li>Can use HTML5 canvas (check out my <a href="http://cdn.alanedwardes.com/misc/canvas/">paint test</a>)</li>
				</ul>
				
				<h3>Libraries and Software</h3>
				<ul>
					<li><a href="http://djangoproject.com/">Django</a> (Python website framework)</li>
					<li><a href="http://jquery.com/">jQuery</a> (JavaScript library)</li>
					<li><a href="http://wordpress.org">WordPress</a> (PHP blog and general website CMS)</li>
					<li><a href="http://www.photoshop.com/">Adobe Photoshop</a> (Image manipulation)</li>
					<li><a href="http://www.photoshop.com/">Adobe Illustrator</a> (Vector image production)</li>
					<li><a href="http://www.microsoft.com/visualstudio/en-gb">Microsoft Visual Basic</a> (Visual Basic development)</li>
					<li><a href="http://www.eclipse.org/">Eclipse IDE</a> (Java development)</li>
				</ul>
			</div>
		</div>
	</div>
{% endblock %}
