{% extends "base.html" %}
{% load timesince_years nowhitespace random_item media_include %}
{% block description %}{% if title %}Alan Edwardes' Blog: {{ title }}{% else %}The thoughts and irrational headspew of Alan Edwardes.{% endif %}{% endblock %}

{% block title %}Alan Edwardes{% endblock %}

{% block content %}
<div class="wrp">
	{% random_item "Ciao|Hello|Salut|¡Hola|Guten tag|Aloha|Hallo|Hallå|Salam" greeting %}
	<div id="hi"><a href="/" title="Click for a new greeting"><script>
		var greetings = ['Ciao', 'Hello', 'Salut', '¡Hola', 'Guten tag', 'Aloha', 'Hallo', 'Hallå', 'Salam'];
		document.write(greetings[Math.floor(Math.random() * greetings.length)] + '!');
	</script></a> I make things<span style="color:#777">:</span></div>
	<div class="ban" style="background-image:url({% media_include "estranged-banner.jpg" %})">
		<div class="blurb dbg">
			<a href="/estranged/">Estranged</a>, a free game following the story of a lone fisherman stranded on a mysterious island during a violent storm. <a href="/estranged/">Learn more and play &raquo;</a>
		</div>
	</div>
	<div class="tri first ban" style="background-image:url({% media_include "jw-banner.png" %})">
		<div class="blurb dbg">
			<span>A small 2D platformer with a JavaScript graphics &amp; physics engine. <a href="http://jw.alanedwardes.com/">View &raquo;</a></span>
		</div>
	</div>
	<div class="tri">
		<h2>Latest Blog Posts</h2>
		<ul>
		{% for post in posts %}
			<li>
				<a href="{{ post.get_absolute_url }}">{{ post.title|truncatewords:4 }}</a>
				{% if post.comments %}
					<a class="commentcount" href="{{ post.get_absolute_url }}#comments">{{ post.comments }}</a>
				{% endif %}
			</li>
		{% endfor %}
		</ul>
	</div>
	<div class="tri">
		<h2>About Me</h2>
		<p>I'm a {{ settings.BIRTH_DATE|timesince_years }} year old student from the UK who loves creating websites, <a href="/estranged/">making games</a>, and <a href="/posts/running/">running</a>.</p>
		<p>e: <script>document.write(ae.print_mail());</script></p>
	</div>
	<div class="clr"></div>
	<script>{% nowhitespace %}
		ae.util.http.getJSONP('http://jsonpcache.alanedwardes.com/?resource=lastfm_ae_albums&callback=?', function(albums){
			var count = 0;
			for (var i = 0; i < albums['topalbums']['album'].length; i++)
			{
				var album = albums['topalbums']['album'][i];
				if (album.image[1]['#text'] && !album.image[1]['#text'].match(/default/g) && count < 12)
				{
					var div = ae.util.element('div', {
						id: 'cover-' + count,
						className: 'album'
					}, document.getElementById('lastfm'));
					var a = ae.util.element('a', {
						target: '_blank',
						href: album.url,
						title: album.name + ' by ' + album.artist.name + ', played ' + album.playcount + ' times this week.'
					}, div);
					ae.util.element('img', {
						width: 64,
						height: 64,
						src: album.image[1]['#text']
					}, a);
					count++;
				}
			}
			document.getElementById('first').style.display = 'block';
			document.getElementById('lastfm').style.display = 'block';
			ae.util.element('div', { className: 'clr' }, document.getElementById('lastfm'));
		});
	{% endnowhitespace %}</script>
	<div id="lastfm"></div>
	<script>{% nowhitespace %}
		ae.util.http.getJSONP('http://jsonpcache.alanedwardes.com/?resource=steam_ae_games&callback=?', function(games){
			if (games && games.mostPlayedGames && games.mostPlayedGames.mostPlayedGame)
			{
				for (var i = 0; i < games.mostPlayedGames.mostPlayedGame.length; i++)
				{
					if (i > 2) break;
					var game = games.mostPlayedGames.mostPlayedGame[i];
					
					var div = ae.util.element('div', {
						style: { display: 'none' },
						className: 'game'
					}, document.getElementById('steamgames'));
					var a = ae.util.element('a', {
						target: '_blank',
						href: game.gameLink,
						title: game.gameName + ', played ' + game.hoursPlayed + ' hours over the past two weeks, ' + game.hoursOnRecord + ' hours total.'
					}, div);
					
					var img = ae.util.element('img', {
						width: 184,
						height: 69,
						src: game.gameLogo,
						onload: (function(game_div)
						{
							return function()
							{
								game_div.style.display = 'block';
							}
						})(div)
					}, a);
				}
				document.getElementById('second').style.display = 'block';
				document.getElementById('steamgames').style.display = 'block';
				ae.util.element('div', { className: 'clr' }, document.getElementById('steamgames'));
			}
		});
	{% endnowhitespace %}</script>
	<div id="steamgames">
		<div class="game intro">
			<div id="first"><a target="_blank" href="http://www.last.fm/user/alanedwardes/charts?subtype=albums">Albums</a> over the past week <span>&#8593;</span></div>
			<div id="second"><a target="_blank" href="http://steamcommunity.com/id/alanedwardes/games/">Games</a> over the past two weeks <span>&#8594;</span></div>
		</div>
	</div>
	<div id="workouts"></div>
	<script>{% nowhitespace %}
		ae.util.http.getJSONP('http://jsonpcache.alanedwardes.com/?resource=mapmyfitness_runs&callback=?', function(workouts){
			function milesToKilometres(miles) { return Math.round((parseFloat(miles) * 1.609344) * 10) / 10; }
			function prettyDate(date)
			{
				var date = new Date(date);
				var month = null;
				switch (date.getMonth() + 1)
				{
					case 1: month = 'Jan'; break; case 2: month = 'Feb'; break;	case 3: month = 'Mar'; break;
					case 4: month = 'Apr'; break; case 5: month = 'May'; break;	case 6: month = 'Jun'; break;
					case 7: month = 'Jul'; break; case 8: month = 'Aug'; break;	case 9: month = 'Sep'; break;
					case 10: month = 'Oct'; break; case 11: month = 'Nov'; break; case 12: month = 'Dec'; break;
				}
				return date.getDate() + ' ' + month;
			}
		
			if (workouts && workouts.result.status == 1 && workouts.result.output.workouts)
			{
				for (var i = 0; i < workouts.result.output.workouts.length && i < 8; i++)
				{
					var workout = workouts.result.output.workouts[i];
					var div = ae.util.element('a', {
						className: 'workout',
						id: 'workout-' + i,
						href: 'http://www.mapmyrun.com/workout/' + workout.workout_id,
						target: "_blank",
						innerHTML: prettyDate(workout.workout_date)
					}, document.getElementById('workouts'));
					ae.util.element('span', {
						className: 'dbd',
						innerHTML: 'Ran ' + milesToKilometres(workout.distance) + ' km &raquo;'
					}, div);
				}
			}
		});
	{% endnowhitespace %}</script>
</div>
{% endblock %}