{% extends "base.html" %}
{% load timesince_years nowhitespace random_item media_include %}
{% block description %}{% if title %}Alan Edwardes' Blog: {{ title }}{% else %}The thoughts and irrational headspew of Alan Edwardes.{% endif %}{% endblock %}

{% block title %}Alan Edwardes{% endblock %}

{% block content %}
<div class="wrp">
	{% random_item "Ciao|Hello|Salut|¡Hola|Guten tag|Aloha|Hallo|Hallå|Salam" greeting %}
	<div id="hi"><a href="/" title="Click for a new greeting">{{ greeting }}!</a> I'm a programmer<span style="color:#777">;</span></div>
	<img id="int" src="{% media_include "languages.png" %}" alt="Languages" width="960" height="200"/>
	<div class="tri first">
		<h2>Posts</h2>
		<ul>
		{% for post in posts %}
			<li>
				<a href="{{ post.get_absolute_url }}">{{ post.title|truncatewords:4 }}</a>
				{% if post.comments %}
					<a class="commentcount" href="{{ post.get_absolute_url }}#comments">{{ post.comments }}</a>
				{% endif %}
			</li>
		{% endfor %}
		</ul>
	</div>
	<div class="tri">
		<h2>Tweets</h2>
		<script>{% nowhitespace %}
			ae.util.http.getJSONP('http://jsonpcache.alanedwardes.com/?resource=twitter_ae_timeline&callback=?', function(tweets){
				document.getElementById('tweets').innerHTML = '';
				var ul = ae.util.element('ul', {}, document.getElementById('tweets'));
				var count = 0;
				for (var i = 0; i < tweets.length; i++)
				{
					var tweet = tweets[i];
					if (!tweet.in_reply_to_user_id && count < 5)
					{
						var dt = tweet.created_at.split(' ');
						ae.util.element('a', {
							href: 'https://twitter.com/AlanEdwardes/status/' + tweet.id_str,
							innerHTML: ['<br/>' + dt[3], 'on', dt[1], dt[2]].join(' ')
						}, ae.util.element('li', {
							innerHTML: tweet.text
						}, ul));
						count++;
					}
				}
			});
		{% endnowhitespace %}</script>
		<div id="tweets">Error getting tweets.</div>
	</div>
	<div class="tri">
		<h2>About</h2>
		<p style="padding:20px 0px">I'm a {{ settings.BIRTH_DATE|timesince_years }} year old student from the UK. Programmer that dabbles in web design and game development.</p>
		<small class="subtitle">
			contact: <script>document.write(ae.print_mail());</script>
		</small>
	</div>
	<div class="clr"></div>
	<script>{% nowhitespace %}
		ae.util.http.getJSONP('http://jsonpcache.alanedwardes.com/?resource=lastfm_ae_albums&callback=?', function(albums){
			var count = 0;
			for (var i = 0; i < albums['topalbums']['album'].length; i++)
			{
				var album = albums['topalbums']['album'][i];
				if (album.image[1]['#text'] && !album.image[1]['#text'].match(/default/g) && count < 12)
				{
					var div = ae.util.element('div', {
						id: 'cover-' + count,
						className: 'album'
					}, document.getElementById('lastfm'));
					var a = ae.util.element('a', {
						target: '_blank',
						href: album.url,
						title: album.name + ' by ' + album.artist.name + ', played ' + album.playcount + ' times this week.'
					}, div);
					ae.util.element('img', {
						width: 64,
						height: 64,
						src: album.image[1]['#text']
					}, a);
					count++;
				}
			}
			document.getElementById('first').style.display = 'block';
			document.getElementById('lastfm').style.display = 'block';
			ae.util.element('div', { className: 'clr' }, document.getElementById('lastfm'));
		});
	{% endnowhitespace %}</script>
	<div id="lastfm"></div>
	<script>{% nowhitespace %}
		ae.util.http.getJSONP('http://jsonpcache.alanedwardes.com/?resource=steam_ae_games&callback=?', function(games){
			if (games && games.mostPlayedGames && games.mostPlayedGames.mostPlayedGame)
			{
				for (var i = 0; i < games.mostPlayedGames.mostPlayedGame.length; i++)
				{
					var game = games.mostPlayedGames.mostPlayedGame[i];
					
					if (i > 3) break;
					
					var div = ae.util.element('div', {
						className: 'game'
					}, document.getElementById('steamgames'));
					var a = ae.util.element('a', {
						target: '_blank',
						href: game.gameLink,
						title: game.gameName + ', played ' + game.hoursPlayed + ' hours over the past two weeks, ' + game.hoursOnRecord + ' hours total.'
					}, div);
					var img = ae.util.element('img', {
						width: 184,
						height: 69,
						src: game.gameLogo
					}, a);
				}
				document.getElementById('second').style.display = 'block';
				document.getElementById('steamgames').style.display = 'block';
				ae.util.element('div', { className: 'clr' }, document.getElementById('steamgames'));
			}
		});
	{% endnowhitespace %}</script>
	<div id="steamgames">
		<div class="game intro">
			<div id="first"><a target="_blank" href="http://www.last.fm/user/alanedwardes/charts?subtype=albums">Albums</a> over the past week <span>&#8593;</span></div>
			<div id="second"><a target="_blank" href="http://steamcommunity.com/id/alanedwardes/games/">Games</a> over the past two weeks <span>&#8594;</span></div>
		</div>
	</div>
</div>
{% endblock %}