{% extends "base.html" %}
{% load specialtags media_include nowhitespace %}

{% block title %}Portfolio &mdash; Alan Edwardes{% endblock %}

{% block content %}{% nowhitespace %}
	<div class="wrp prt">
		<h1 class="dbd">{{ portfolio_item.name }} - {% if portfolio_item.published %}{{ portfolio_item.published|date:'F Y' }}{% else %}Ongoing Project{% endif %}</h1>
		
		{% if portfolio_item.banner %}
			<img class="boxshadow" id="portfolio-banner" src="{% media_include portfolio_item.banner.url %}" alt="{{ portfolio_item.name }}"/>
		{% endif %}

		{% if portfolio_item.description %}
			<div class="lft">
				<h3 class="dbd">Description</h3>
				<p>{{ portfolio_item.description|safe }}</p>
				<p><a href="{{ portfolio_item.url }}">{{ portfolio_item.url }}</a></p>
			</div>
		{% endif %}
		
		{% if portfolio_item.screenshots.all %}
			<div class="rgt">
				<h3 class="dbd">Skills</h3>
				<ul>
				{% for skill in portfolio_item.skills.all %}
					<li><a href="{{ skill.get_absolute_url }}">{{ skill.name }}</a></li>
				{% endfor %}
				</ul>
			</div>
		{% endif %}
		
		<div class="clr"></div>
		
		{% if portfolio_item.screenshots.all %}
			<div id="portfolio-screenshots">
				<h3 class="dbd">Screenshots</h3>
				{% for screenshot in portfolio_item.screenshots.all %}
					<a href="{% media_include screenshot.image.url %}" title="{{ screenshot.name }}"><img class="dbd boxshadow" src="{% media_include screenshot.image.url %}" alt="{{ screenshot.name }}"/></a>
				{% endfor %}
			</div>
		{% endif %}
		
		<p><a href="/portfolio/">&laquo; Back to Portfolio</a></p>
	</div>
{% endnowhitespace %}{% endblock %}
