{% extends "base.html" %}
{% load specialtags media_include %}

{% block title %}Personal Portfolio &mdash; Alan Edwardes{% endblock %}

{% block content %}
	<div class="wrp prt">
		{% if skill %}
			<h1>Projects Involving "{{ skill.name }}"</h1>
			<p><a href="/portfolio/">&laquo; Remove Filter</a></p>
		{% else %}
			<h1>Personal Portfolio</h1>
		{% endif %}
	
		{% for portfolio_item in portfolios %}
			{% ifchanged portfolio_item.published %}
				<h2 class="dbd">
					{% if portfolio_item.published %}
						Projects from {{ portfolio_item.published|date:'F Y' }}
					{% else %}
						Ongoing Projects
					{% endif %}
				</h2>
			{% endifchanged %}
			<div class="portfolio_item">
				{% if portfolio_item.banner %}
					<div class="boxshadow" style="background-position:top center;background-image:url({% media_include portfolio_item.banner.url %})">
						<a href="{{ portfolio_item.get_absolute_url }}"><img src="{% media_include "tint.png" %}" alt=""/></a>
					</div>
				{% endif %}
				{% if portfolio_item.summary %}
					<p>{{ portfolio_item.name }} &mdash; {{ portfolio_item.summary }}</p>
				{% endif %}
			</div>
		{% endfor %}
	</div>
{% endblock %}
