{% extends "base.html" %}

{% block description %}Some of my recent projects.{% endblock %}

{% block title %}Projects &mdash; Alan Edwardes{% endblock %}

{% block content %}
	<div class="wrp">
		<div id="hi">Portfolio</div>
		<p>Stuff I've made.</p>
		<div id="prj">
			{% for project in projects %}
				<div class="prj" style="background-image:url(/static_media/{{ project.banner }})">
					<a href="{{ project.url }}">{{ project.title }}</a>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
