{% spaceless %}
{% load timesince_years %}
{% if is_single %}
	<h1>{{ post.title|escape }}</h1>
	{% if post.is_old %}
		<div class="posthint">
			<h4 style="margin:4px 0px">Old Content Warning</h4>
			This post is very old (it was published {{ post.published|timesince_years }} years ago), so I can't vouch for its content or accuracy. It may be here for posterity. Please take its content with a pinch of salt.
		</div>
	{% endif %}
	{{ post.body|safe }}
{% else %}
	<h2><a href="{{ post.get_absolute_url }}">{{ post.title|escape }}</a></h2>
	<div class="meta">
		<span class="meta-item meta-date">{{ post.published|date:"jS \o\f F Y \a\t g:i A" }}</span>
	</div>
	{{ post.body|striptags|truncatewords_html:"50"|safe }}
	<p style="margin-bottom:30px"><a href="{{ post.get_absolute_url }}">Read the rest of this post &raquo;</a></p>
{% endif %}
{% endspaceless %}