{% extends "base.html" %}
{% load nl2li %}

{% block description %}Some of my recent projects.{% endblock %}

{% block title %}Projects &mdash; Alan Edwardes{% endblock %}

{% block content %}
	<div class="wrp">
		<div class="lft">
			<div id="cnt">
				{% for project in projects %}
					<h3>{{ project.title }}</h3>
					<p><a href="{{ project.url }}">{{ project.url }}</a></p>
					<p><img src="http://cdn.alanedwardes.com/{{ project.banner }}"/></p>
					<p>{{ project.body }}</p>
					<h3>Skills Used</h3>
					<ul>
						{{ project.skills|nl2li|safe }}
					</ul>
				{% endfor %}
			</div>
		</div>
		<div class="rgt">
			<div id="sdb">
				<h2>Projects</h2>
				<p>Some of my recent personal projects. Some trivial, some less so.</p>
			</div>
		</div>
	</div>
{% endblock %}
