{% extends "base.html" %}

{% block title %}Personal Portfolio &mdash; Alan Edwardes{% endblock %}

{% block content %}
	<div class="wrp prt {{ skill ? '' : 'list' }}">
		{% if skill %}
			<h1>Projects Involving &lsquo;{{ skill.name }}&rsquo;</h1>
			<p><a href="./../../">&laquo; Remove Filter</a></p>
		{% else %}
			<h1>Portfolio</h1>
		{% endif %}
		
		{% for category in categories %}
			
			
			{% for portfolio_item in portfolios if portfolio_item.category_id == category.id %}
				{% if loop.first %}
					<h2>{{ category.name }}</h2>
				{% endif %}
			
				{% include "portfolio_item.html" %}
				
				{% if loop.index0 % 2 %}
					<div class="clr"></div>
				{% endif %}
			{% endfor %}
			<div class="clr"></div>
		{% endfor %}
	</div>
{% endblock %}
