{% extends "base.html" %}

{% block description %}Posted {{ post.published|date("d/m/Y") }}.{% endblock %}

{% block title %}{{ post.title }} &mdash; Alan Edwardes{% endblock %}

{% block content %}
	<div class="wrp">
		<div id="cnt">
			<h1>{{ post.title|escape }}</h1>
			<p><small class="subtitle">Published on the {{ post.published|date('jS') }} of {{ post.published|date('F Y') }}</small></p>
			{% if post.is_old %}
				<div class="posthint">
					<h4 style="margin:4px 0px">Old Content Warning</h4>
					This post is very old (it was published in {{ post.published|date('Y') }}), so I can't vouch for its content or accuracy. It may be here for posterity. Please take its content with a pinch of salt.
				</div>
			{% endif %}
			{{ post.body|raw }}
		</div>
	</div>
{% endblock %}