<video class="desktoponly" autoplay loop muted playsinline src="https://s.edward.es/74596be7-607a-4413-bfc3-214cc79ba982.webm" poster="https://s.edward.es/dab02dec-afd6-48f5-bec6-d54db901d9f1.png"></video>

<section class="home">
    <h2>Hello!</h2>
    <p>Welcome to my portfolio. I'm a Software Engineer that loves to develop immersive singleplayer game experiences.</p>
    <p>I'm currently based in the <a href="https://en.wikipedia.org/wiki/Sheffield">North of England</a>, working at <a href="https://www.autodesk.com/">Autodesk</a>. I created a game series called <a href="https://store.steampowered.com/franchise/Estranged-Franchise">Estranged</a> using Unreal Engine 4 and the Source Engine.</p>
    <p>Take a look at some of my <a href="/projects/">work</a>, visit my <a href="/blog/">blog</a>, or get in <a href="/contact/">touch</a>.</p>
</section>
